# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment directories
venv/
cleanenv/
venv312/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore IDE/editor configuration files
.vscode/
.idea/

# Ignore logs
*.log



min_variance_portfolio_jsons/

TEMPORARY_FOR_ASSIGNMENT